@use "asset" as *;

// ヘッダー---スタイル
header{
  position: fixed;
  top: 0;
  animation: headerIn 1.5s forwards;
  width: 100%;
  z-index: 999;
  li{
    list-style: none;
    text-align: center;
    padding: 10px;
    a{
      text-decoration: none;
      color: #333;
      padding: 0px 32px;
      font-size: 1.4rem;
      position: relative;
      &::after{
        content: '';
        display: block;
        width: 80%;
        height: 2px;
        background-color: #333;
        position: absolute;
        bottom: -4px;
        left: 10%;
        transform: scale(0,1);
        transition: all 0.3s;
      }
    }
    &:hover{
      a{
        &::after{
          transform: scale(1,1);
        }
      }
    }
  }
  #g-nav{
    overflow-x: hidden;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    .logo-img{
      height: 80px;
      margin-right: auto;
      margin-left: 60px;
      img{
        display: block;
        width: 100%;
        height: 80px;
      }
    }
    ul{
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
    }
  }
  #m-nav{
    overflow-y: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    background-color: rgb(85, 85, 85);
    transition: all .3s;
    ul{
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      li{
        a{
          color: white;
          &::after{
            background-color: white;
          }
        }
      }
    }
  }
  #m-nav.m-nav-open{
    opacity: 1;
    visibility: visible;
    ul{
      display: block;
    }
  }
}

@keyframes headerIn{
  0%{
    opacity: 0;
    transform: translateY(-32px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

// ハンバーガーメニュー style
.menu{
  position: fixed;
  z-index: 999;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: none;
  cursor: pointer;
  span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 1px;
    background-color: black;
    width: 45%;
    &:nth-of-type(1){
      top: 15px;
    }
    &:nth-of-type(2){
      top: 23px;
    }
    &:nth-of-type(3){
      top: 31px;
    }
  }
}
.menu.active{
  span{
    background-color: white;
    &:nth-of-type(1){
      top: 18px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
    }
    &:nth-of-type(2){
      opacity: 0;
    }
    &:nth-of-type(3){
      top: 30px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
    }
  }
}

// #profile
#profile{
  width: 100%;
  margin: 90px auto 0px;
  padding: 0px 40px;
  width: 100%;
  max-width: 1220px;
  .head2{
    font-family: "Zen Kurenaido";
    text-align: center;
    font-size: clamp(3rem, 2.273rem + 3.64vw, 5rem);
    line-height: 3;
    letter-spacing: 0.05em;
    border-bottom: solid #7f7f7f 1px;
  }
  .profile-wrap{
    position: relative;
    margin: 80px auto 0px;
    .profile-body{
      display: grid;
      grid-template-columns: minmax(240px,400px) 1fr;
      justify-content: space-between;
      .profile-img-wrap{
        position: relative;
        perspective : 1000px;
        width: 100%;
        min-width: 240px;
        .img-wrap{
          width: 100%;
          min-width: 240px;
          border-radius: 9999px;
          .profile-img{
            border-radius: 9999px;
            width: 100%;
          }
        }
        .illust{
          backface-visibility : hidden;
          transition: transform 1s;
        }
        .photo{
          backface-visibility : hidden;
          position: absolute;
          top: 0;
          left: 0;
          transition: transform 1s;
          transform: rotateY(180deg);
        }
      }
      .rotate-anima-wrap{
        z-index: -1;
        position: absolute;
        top: -15%;
        left: -15%;
        pointer-events: none;
        width: 100%;
        svg{
          width: 100%;
          max-width: 420px;
          animation-name: rotateInfinity;
          animation-duration: 60s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
      .profile-img-wrap.frip{
        .illust{
          transform: rotateY(180deg);
        }
        .photo{
          transform : rotateY(0deg);
        }
      }
      .profile-content{
        padding-left: 40px;
        .profile-text{
          font-size: 1.6rem;
          line-height: 2;
          letter-spacing: 0.1em;
        }
      }
    }
    .my-info-wrap{
      .my-info-body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        .info-list{
          padding: 24px 0px;
          .head4{
            color: #7f7f7f;
            position: relative;
            font-size: clamp(1.4rem, 1.036rem + 1.82vw, 2.4rem);
            &::after{
              position: absolute;
              top: 100%;
              left: 0;
              content: "";
              width: 120px;
              height: 2px;
              background-color: #7f7f7f;
            }
          }
          .info-body{
            font-size: clamp(1.4rem, 1.036rem + 1.82vw, 2.4rem);
            letter-spacing: 1px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .carrier-wrap{
    width: 100%;
    height: 100%;
    margin: 200px auto 0px;
    .carrier-body{
      .head3{
        color:#bebebe;
        font-size: clamp(2.4rem, 1.091rem + 6.55vw, 6rem);
        font-weight: 500;
      }
      .carrier{
        .carrier-list{
          display: flex;
          align-items: flex-start;
          padding: 16px 0px;
          th{
            font-size: clamp(2.4rem, 2.182rem + 1.09vw, 3rem);
            color: gray;
            width: 100%;
            max-width: 120px;
            text-align: left;
            line-height: 100%;
          }
          td{
            color: #333;
            font-size: 1.8rem;
            letter-spacing: 1.5px;
          }
        }
      }
    }
  }
  .strengths-wrap{
    width: 100%;
    height: 100%;
    margin: 200px auto 0px;
    .strengths-body{
      .head3{
        color:#bebebe;
        font-size: clamp(2.4rem, 1.091rem + 6.55vw, 6rem);
        font-weight: 500;
      }
    }
  }
  .policy-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto 0px;
    .policy-body{
      width: 100%;
      max-width: 1220px;
      .head3{
        color:#bebebe;
        font-size: clamp(2.4rem, 1.091rem + 6.55vw, 6rem);
        font-weight: 500;
      }
      .my-policy-wrap{
        overflow: hidden;
        .my-policy{
          transform: translateX(-100%);
          color: #333;
          font-size: clamp(2.4rem, 1.818rem + 2.91vw, 4rem);
          transition-duration: 2s;
          padding: 16px 0px;
          line-height: 1.5;
          .br{
            display: none;
          }
        }
        .my-policy.show{
          transform: translateX(0%);
        }
      }
      .my-policy-text-wrap{
        overflow: hidden;
        .my-policy-text{
          font-size: 2rem;
          line-height: 2;
          color: #7f7f7f;
          transform: translateY(100%);
          transition-duration: 1s;
          transition-delay: 0.5s;
        }
        .my-policy-text.show{
          transform: translateY(0%);
        }
      }
    }
  }
  .hobby-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto 0px;
    .hobby-body{
      width: 100%;
      max-width: 1220px;
      .head3{
        color:#bebebe;
        font-size: clamp(2.4rem, 1.091rem + 6.55vw, 6rem);
        font-weight: 500;
      }
      .hobby-content{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        .hobby-text-wrap{
          width: 50%;
        }
        .hobby-list{
          display: grid;
          justify-content: flex-end;
          grid-template-columns: repeat(2,1fr);
          gap: 24px;
          .hobby-img-wrap{
            position: relative;
            width: 100%;
            max-width: 264px;
            height: 100%;
            max-height: 264px;
            .hobby-img{
              width: 100%;
              object-fit: contain;
            }
            .hobby-model{
              transition: all .2s linear;
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 10px;
              background-color: rgb(0,0,0,0.4);
              display: flex;
              justify-content: center;
              align-items: center;
              .model-text{
                color: white;
                font-size: 1.4rem;
                text-align: center;
                letter-spacing: 1px;
                span{
                  font-size:1.6rem;
                  line-height: 2;
                }
              }
            }
            &:hover{
              .hobby-model{
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
#work{
  width: 100%;
  margin: 90px auto 0px;
  padding: 0px 40px;
  width: 100%;
  max-width: 1220px;
  text-align: center;
  a{
    text-decoration: none;
    text-align: center;
    font-size: 4rem;
    color: #333;
    letter-spacing: 1px;
    position: relative;
    &::before{
      position: absolute;
      bottom: 0;
      left: 100%;
      font-family: 'Material Icons';
      content: "\e5cc";
      font-size: 5rem;
      font-weight: 300;
    }
    &::after{
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      display: block;
      width: calc(100% + 40px);
      height: 2px;
      background-color: #333;
      transition: all .4s;
      transform: scaleX(0);
      transform-origin: left;
    }
    &:hover{
      &::after{
        transform: scaleX(1);
      }
    }
  }
}

@keyframes rotateInfinity{
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(-360deg);
  }
}

// #fotter
#footer {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  background-color: #333;
  .footer-text{
    padding: 32px 0px;
    font-size: 1.2rem;
    letter-spacing: .1em;
    font-weight: bold;
    color: #fff;
  }
}


// レスポンシブ---スタイル
@media (max-width:1160px){
  #profile{
    .profile-wrap{
      .profile-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        .profile-img-wrap{
          order: 1;
          max-width: 240px;
        }
        .profile-content{
          order: 3;
          margin-left: 0px;
          margin-top: 40px;
          padding-left: 0px;
        }
      }
      .my-info-wrap{
        order: 2;
      }
    }
    .carrier-wrap{
      width: 100%;
      height: 100%;
      margin: 200px auto 0px;
      .carrier-body{
        .head3{
          color:#bebebe;
          font-size: clamp(2.4rem, 1.091rem + 6.55vw, 6rem);
          font-weight: 500;
        }
        .carrier{
          .carrier-list{
            display: flex;
            flex-direction: column;
            th{
              padding: 8px 0px;
            }
            td{
              line-height: 1.5;
            }
          }
        }
      }
    }
    .policy-wrap{
      margin-top: 90px;
      .policy-body{
        .my-policy-wrap{
          .my-policy{
            padding: 24px 0px;
            line-height: 1.5;
            .br{
              display: block;
            }
          }
        }
      }
    }
    .hobby-wrap{
      margin-top: 90px;
      .head3{
        color:#bebebe;
        font-size: clamp(2.4rem, 1.091rem + 6.55vw, 6rem);
        font-weight: 500;
      }
    }
  }
}


@media (max-width:800px){
  header{
    #g-nav{
        display: none;
    }
  }
  .menu{
    display: flex;
  }

  section{
    margin: 32px auto 0px;
  }
}