@use "asset" as *;

// ヘッダー---スタイル
header{
  position: fixed;
  top: 0;
  animation: headerIn 1.5s forwards;
  width: 100%;
  z-index: 999;
  li{
    list-style: none;
    text-align: center;
    padding: 10px;
    a{
      text-decoration: none;
      color: #333;
      padding: 0px 32px;
      font-size: 1.4rem;
      position: relative;
      &::after{
        content: '';
        display: block;
        width: 80%;
        height: 2px;
        background-color: #333;
        position: absolute;
        bottom: -4px;
        left: 10%;
        transform: scale(0,1);
        transition: all 0.3s;
      }
    }
    &:hover{
      a{
        &::after{
          transform: scale(1,1);
        }
      }
    }
  }
  #g-nav{
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    ul{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      height: 80px;
    }
  }
  #m-nav{
    overflow-y: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    background-color: rgb(85, 85, 85);
    transition: all .3s;
    ul{
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      li{
        a{
          color: white;
          &::after{
            background-color: white;
          }
        }
      }
    }
  }
  #m-nav.m-nav-open{
    opacity: 1;
    visibility: visible;
    ul{
      display: block;
    }
  }
}

@keyframes headerIn{
  0%{
    opacity: 0;
    transform: translateY(-32px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

// ハンバーガーメニュー style
.menu{
  position: fixed;
  z-index: 999;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: none;
  cursor: pointer;
  span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 1px;
    background-color: black;
    width: 45%;
    &:nth-of-type(1){
      top: 15px;
    }
    &:nth-of-type(2){
      top: 23px;
    }
    &:nth-of-type(3){
      top: 31px;
    }
  }
}
.menu.active{
  span{
    background-color: white;
    &:nth-of-type(1){
      top: 18px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
    }
    &:nth-of-type(2){
      opacity: 0;
    }
    &:nth-of-type(3){
      top: 30px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
    }
  }
}


// ファーストビュー--スタイル
.fv-wrap{
  width: 100%;
  height: 100vh;
  padding: 0px 10%;
  position: relative;
  .fv-container{
    transform: translateY(320px);
    z-index: -10;
    max-width: 1440px;
    svg{
      max-width: 1440px;
      min-width: 240px;
      path{
        fill: #000;
        fill-opacity: 0;
        stroke: #000;
        stroke-width: 1px;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: 2s ease-in forwards 0.5s textAnimation;
      }
    }
    .fv-job-wrap{
      .fv-job{
        text-align: right;
        position: relative;
        font-size: clamp(2rem, 1.286rem + 3.57vw, 4.5rem);
      }
    }
  }
  .scroll{
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
  }
}

@keyframes textAnimation{
  0%{
    stroke-dashoffset: 1000;
  }
  80%{
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100%{
    stroke-dashoffset: 10;
    fill-opacity: 1;
  }
}

section{
  max-width: 1440px;
  min-width: 300px;
  margin: 120px auto 120px;
  padding: 20px;
}

.fadein-section{
  opacity: 0;
  visibility: hidden;
  transition: all 2s ease;
}

.fadein-active{
  opacity: 1;
  visibility: visible;
}

// #profile
#profile{
  .head2{
    text-align: center;
    font-size: clamp(3rem, 2.273rem + 3.64vw, 5rem);
    letter-spacing: 0.05em;
  }
  .profile-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px 0px 120px;
    .profile-img-wrap{
      max-width: 375px;
      min-width: 210px;
      margin-right: 120px;
      .profile-img{
        width: 100%;
        box-shadow: 9px 9px #999999;
      }
    }
    .profile-content{
      .name{
        font-size: 3rem;
        font-weight: 500;
        margin: 10px 0px 8px;
      }
      .name-rubi{
        font-size: clamp(1rem, 0.491rem + 2.55vw, 2.4rem);
      }
      .profile-text{
        font-size: 1.6rem;
        line-height: 2;
        letter-spacing: 0.1em;
      }
    }
  }
  .about-link-wrap{
    display: flex;
    justify-content: flex-end;
    .about-me{
      text-decoration: none;
      color: #d1d1d1;
      mix-blend-mode: difference;
      font-size: clamp(4rem, 3.273rem + 3.64vw, 6rem);
      font-weight: 700;
      transition: all .3s;
      &::after{
        display: block;
        content: " ";
        width: 100%;
        height: 4px;
        background-color: #333;
        transform-origin: left;
        transform: scale(0,1);
        transition: all .3s;
      }
      &:hover{
        color: #15163b;
        &::after{
          transform: scale(1,1);
        }
      }
    }
  }
}

// #skill
#skill{
  .head2{
    text-align: center;
    font-size: clamp(3rem, 2.273rem + 3.64vw, 5rem);
    letter-spacing: 0.05em;
  }
  .head-skill{
    margin-top: 120px;
  }
  .skill-wrap{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 40px;
    margin: 80px 0px 120px;
    li{
      height: 480px;
      padding: 40px 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.02);
      h3{
        font-size: 1.8rem;
        letter-spacing: 0.1em;
        text-align: center;
        margin: 32px 0px;
      }
      p{
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0.1em;
      }
    }
  }
  .tool-wrap{
    h3{
      text-align: center;
      font-size: clamp(3rem, 2.273rem + 3.64vw, 5rem);
    }
  }
}

// #work
#work{
  .head2{
    text-align: center;
    font-size: clamp(3rem, 2.273rem + 3.64vw, 5rem);
  }
}

// #contact
#contact{
  .head2{
    text-align: center;
    font-size: clamp(3rem, 2.273rem + 3.64vw, 5rem);
  }
}

// #fotter


// レスポンシブ---スタイル

@media (max-width:800px){
  header{
    #g-nav{
        display: none;
    }
  }
  .menu{
    display: flex;
  }
}