@use "asset" as *;

body{
  width: 100%;
  height: 100%;
  font-family: 'clone-rounded-latin', sans-serif;
  color: #333;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.header{
  @include header;
}

.work{
  @include wrapper;
}

.contact-container{
  @include contact;
}

.footer{
  @include footer;
}