@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans JP", "Noto Serif JP", "clone-rounded-latin", sans-serif;
  font-style: normal;
  color: #333;
  background-color: rgba(250, 250, 250, 0.9);
  animation: fadein 3s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  position: fixed;
  top: 0;
  animation: headerIn 1.5s forwards;
  width: 100%;
  z-index: 999;
}
header li {
  list-style: none;
  text-align: center;
  padding: 10px;
}
header li a {
  text-decoration: none;
  color: #333;
  padding: 0px 32px;
  font-size: 1.4rem;
  position: relative;
}
header li a::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background-color: #333;
  position: absolute;
  bottom: -4px;
  left: 10%;
  transform: scale(0, 1);
  transition: all 0.3s;
}
header li:hover a::after {
  transform: scale(1, 1);
}
header .logo-img {
  position: fixed;
  top: 0;
  left: 32px;
  height: 80px;
  z-index: 1;
}
header .logo-img img {
  display: block;
  height: 80px;
}
header #g-nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 80px;
}
header #g-nav ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
header #m-nav {
  overflow-y: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  background-color: rgb(85, 85, 85);
  transition: all 0.3s;
}
header #m-nav ul {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header #m-nav ul li a {
  color: white;
}
header #m-nav ul li a::after {
  background-color: white;
}
header #m-nav.m-nav-open {
  opacity: 1;
  visibility: visible;
}
header #m-nav.m-nav-open ul {
  display: block;
}

@keyframes headerIn {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu {
  position: fixed;
  z-index: 999;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: none;
  cursor: pointer;
}
.menu span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 1px;
  background-color: black;
  width: 45%;
}
.menu span:nth-of-type(1) {
  top: 15px;
}
.menu span:nth-of-type(2) {
  top: 23px;
}
.menu span:nth-of-type(3) {
  top: 31px;
}

.menu.active span {
  background-color: white;
}
.menu.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.menu.active span:nth-of-type(2) {
  opacity: 0;
}
.menu.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.fv-wrap {
  width: 100%;
  height: 100vh;
  padding: 0px 10%;
  position: relative;
}
.fv-wrap .fv-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  max-width: 1140px;
  min-width: 240px;
  width: 100%;
}
.fv-wrap .fv-container svg {
  width: 100%;
}
.fv-wrap .fv-container svg path {
  fill: #000;
  fill-opacity: 0;
  stroke: #000;
  stroke-width: 1px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: 2s ease-in forwards 0.5s textAnimation;
}
.fv-wrap .fv-container.job-container {
  position: relative;
}
.fv-wrap .fv-container.job-container .fv-job-wrap {
  overflow: hidden;
  position: absolute;
  bottom: -75px;
  right: 0;
  font-size: clamp(2rem, 1.286rem + 3.57vw, 4.5rem);
}
.fv-wrap .fv-container.job-container .fv-job-wrap .fv-job {
  animation-name: fv-job-fadein;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.fv-wrap .fv-container.job-container .fv-job-wrap .fv-job-wrap.job-bg {
  position: relative;
}
.fv-wrap .fv-container.job-container .fv-job-wrap .fv-job-wrap.job-bg .fv-job::before {
  position: absolute;
  top: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 80px;
  border: solid;
  background-color: #333;
}
.fv-wrap .scroll-wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.fv-wrap .scroll-wrap .scroll {
  animation-name: scroll-animate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes scroll-animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fv-fadein-bg {
  0% {
    transform-origin: left;
    transform: scaleX(0);
    opacity: 1;
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
    opacity: 1;
  }
  50.001% {
    transform-origin: right;
    opacity: 1;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
    opacity: 1;
  }
}
@keyframes fv-job-fadein {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 1000;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 10;
    fill-opacity: 1;
  }
}
section {
  max-width: 1220px;
  min-width: 300px;
  margin: 90px auto 0px;
  padding: 20px;
}
section .head2 {
  text-align: center;
  font-size: clamp(3rem, 2.273rem + 3.64vw, 5rem);
  letter-spacing: 0.05em;
}

.fadein-section {
  opacity: 0;
  visibility: hidden;
  transition: all 2s ease;
}

.fadein-active {
  opacity: 1;
  visibility: visible;
}

#work .works-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 64px;
  margin: 80px 0px 120px;
}
#work .works-list .work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#work .works-list .work .work-link {
  width: 100%;
  text-decoration: none;
  padding: 20px;
  overflow: hidden;
}
#work .works-list .work .work-link .work-img-wrap {
  width: 100%;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.02);
  overflow: hidden;
}
#work .works-list .work .work-link .work-img-wrap .work-img {
  width: 100%;
  transition: ease 0.5s;
}
#work .works-list .work .work-link .work-info {
  font-size: 1.4rem;
}
#work .works-list .work .work-link .work-info .work-category {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  line-height: 2.5;
  color: #7f7f7f;
}
#work .works-list .work .work-link .work-info .work-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
}
#work .works-list .work:hover .work-link .work-img {
  transform: scale(1.25);
}

#skill .head-skill {
  margin-top: 120px;
}
#skill .skill-wrap {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  margin: 80px 0px 120px;
}
#skill .skill-wrap li {
  height: 480px;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.02);
}
#skill .skill-wrap li .skill-icon {
  width: 64px;
}
#skill .skill-wrap li h3 {
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 32px 0px;
}
#skill .skill-wrap li p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.1em;
}
#skill .tool-wrap:not(:first-child) {
  margin-top: 80px;
}
#skill .tool-wrap h3 {
  font-size: clamp(2.4rem, 2.109rem + 1.45vw, 3.2rem);
  margin: 10px 0px;
}
#skill .tool-wrap .tool-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 32px;
  list-style: none;
}
#skill .tool-wrap .tool-container li {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.02);
  padding: 20px;
}
#skill .tool-wrap .tool-container li h4 {
  font-size: 1.6rem;
  margin: 8px 0px;
}
#skill .tool-wrap .tool-container li p {
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: 0.05em;
}
#skill .tool-wrap .tool-container li:nth-of-type(1) h4 {
  color: #3ba9f4;
}
#skill .tool-wrap .tool-container li:nth-of-type(2) h4 {
  color: #f55723;
}
#skill .tool-wrap .tool-container li:nth-of-type(3) h4 {
  color: #7c4dff;
}
#skill .tool-wrap .tool-container li:nth-of-type(4) h4 {
  color: #f641c8;
}
#skill .tool-wrap .tool-container.coding-tool-wrap li:nth-of-type(1) h4 {
  color: #2877bd;
}
#skill .tool-wrap .tool-container.coding-tool-wrap li:nth-of-type(2) h4 {
  color: #fbd603;
}
#skill .usage-experience-wrap {
  margin-top: 80px;
}
#skill .usage-experience-wrap h3 {
  font-size: clamp(2.4rem, 2.109rem + 1.45vw, 3.2rem);
  margin: 10px 0px;
}
#skill .usage-experience-wrap ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#skill .usage-experience-wrap ul li {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.02);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
#skill .usage-experience-wrap ul li:last-of-type {
  margin-right: 0px;
}
#skill .usage-experience-wrap ul li h4 {
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  color: #7f7f7f;
}

#profile .profile-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0px 120px;
}
#profile .profile-wrap .profile-img-wrap {
  transform: translateY(40px);
  display: block;
}
#profile .profile-wrap .profile-img-wrap .profile-img {
  border-radius: 0px 10px 0px 10px;
  width: 100%;
  max-width: 416px;
  min-width: 200px;
  height: auto;
  box-shadow: 20px -20px #000;
  margin-left: auto;
}
#profile .profile-wrap .profile-content .name {
  font-size: 3rem;
  font-weight: 500;
  margin: 10px 0px 8px;
}
#profile .profile-wrap .profile-content .name-rubi {
  font-size: clamp(1rem, 0.491rem + 2.55vw, 2.4rem);
}
#profile .profile-wrap .profile-content .profile-text {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.1em;
  max-width: 560px;
}
#profile .about-link-wrap {
  display: flex;
  justify-content: flex-end;
}
#profile .about-link-wrap .about-me {
  text-decoration: none;
  color: #d1d1d1;
  mix-blend-mode: difference;
  font-size: clamp(4rem, 3.273rem + 3.64vw, 6rem);
  font-weight: 700;
  transition: all 0.3s;
}
#profile .about-link-wrap .about-me::after {
  display: block;
  content: " ";
  width: 100%;
  height: 4px;
  background-color: #333;
  transform-origin: left;
  transform: scale(0, 1);
  transition: all 0.3s;
}
#profile .about-link-wrap .about-me:hover {
  color: #15163b;
}
#profile .about-link-wrap .about-me:hover::after {
  transform: scale(1, 1);
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact .address-wrap .please-contact {
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.2em;
}
#contact .address-wrap .address {
  margin-top: 32px;
  border: solid 2px #333;
  text-align: center;
}
#contact .address-wrap .address a {
  display: block;
  width: 320px;
  height: 100%;
  line-height: 56px;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-style: normal;
  background-color: #333;
  color: white;
  transition: ease-in 0.2s;
}
#contact .address-wrap .address:hover a {
  background-color: white;
  color: #333;
}

#footer {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  background-color: #333;
}
#footer .footer-text {
  padding: 32px 0px;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 1160px) {
  #skill .skill-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
  }
}
@media (max-width: 800px) {
  header .logo-img {
    display: none;
  }
  header #g-nav {
    display: none;
  }
  .menu {
    display: flex;
  }
  section {
    margin: 32px auto 0px;
  }
  #profile .profile-wrap {
    flex-wrap: wrap;
  }
  #profile .profile-wrap .profile-img-wrap {
    order: 1;
    transform: translateY(0px);
    max-width: 240px;
  }
  #profile .profile-wrap .profile-content {
    order: 2;
  }
}
@media (max-width: 428px) {
  .fv-wrap .fv-container {
    max-width: 320px;
  }
}/*# sourceMappingURL=index.css.map */