@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

html, body, a {
  cursor: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  color: #333;
  background-color: rgb(250, 250, 250);
  animation: fadein 1.6s forwards;
}

#loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
#loading .loading-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loading .loading-wrap .loading-text-wrarp {
  font-family: "Zen Kurenaido";
  text-align: center;
  font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
}
#loading .loading-wrap .loading-text-wrarp .loading-text {
  letter-spacing: 0.2;
}
#loading .loading-wrap .loading-text-wrarp .loading-text:nth-child(1) {
  display: inline-block;
  animation: bound 1s linear infinite;
}
#loading .loading-wrap .loading-text-wrarp .loading-text:nth-child(2) {
  display: inline-block;
  animation: bound 1s linear infinite;
  animation-delay: 0.2s;
}
#loading .loading-wrap .loading-text-wrarp .loading-text:nth-child(3) {
  display: inline-block;
  animation: bound 1s linear infinite;
  animation-delay: 0.3s;
}
#loading .loading-wrap .loading-text-wrarp .loading-text:nth-child(4) {
  display: inline-block;
  animation: bound 1s linear infinite;
  animation-delay: 0.4s;
}
#loading .loading-wrap .loading-text-wrarp .loading-text:nth-child(5) {
  display: inline-block;
  animation: bound 1s linear infinite;
  animation-delay: 0.5s;
}
#loading .loading-wrap .loading-text-wrarp .loading-text:nth-child(6) {
  display: inline-block;
  animation: bound 1s linear infinite;
  animation-delay: 0.6s;
}
#loading .loading-wrap .loading-text-wrarp .loading-text:nth-child(7) {
  display: inline-block;
  animation: bound 1s linear infinite;
  animation-delay: 0.7s;
}
#loading .loading-wrap .loading-text-wrarp .loading-text:nth-child(8) {
  display: inline-block;
  animation: bound 1s linear infinite;
  animation-delay: 0.8s;
}
#loading .loading-wrap .loading-text-wrarp .loading-text:nth-child(9) {
  display: inline-block;
  animation: bound 1s linear infinite;
  animation-delay: 0.9s;
}
#loading .loading-wrap .loading-text-wrarp .loading-text:nth-child(10) {
  display: inline-block;
  animation: bound 1s linear infinite;
  animation-delay: 1s;
}
#loading .loading-wrap .loading-text-wrarp .space {
  display: inline-block;
  width: 10px;
}
#loading .loading-wrap .loading-logo {
  width: 100%;
  max-width: 320px;
  min-width: 120px;
  height: 100%;
  max-height: 320px;
  min-height: 120px;
}

@keyframes bound {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
#loading.loaded {
  animation: loaded 0.5s forwards;
}

@keyframes loaded {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#cursor {
  pointer-events: none;
  position: fixed;
  top: -4px;
  left: -4px;
  width: 8px;
  height: 8px;
  background: rgb(0, 0, 0);
  transform: translate(-100px, -100px);
  border-radius: 50%;
  z-index: 999;
}

#stalker {
  pointer-events: none;
  position: fixed;
  top: -16px;
  left: -16px;
  width: 32px;
  height: 32px;
  background: rgba(253, 254, 0, 0.8);
  border-radius: 50%;
  transform: translate(-100px, -100px);
  transition: transform 0.2s;
  transition-timing-function: ease-out;
  z-index: 998;
}

#stalker.hov_ {
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  transition: 0.15s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  position: fixed;
  top: 0;
  animation: headerIn 1.5s forwards;
  width: 100%;
  z-index: 999;
}
header li {
  list-style: none;
  text-align: center;
  padding: 10px;
}
header li a {
  text-decoration: none;
  color: #333;
  padding: 0px 32px;
  font-size: 1.4rem;
  position: relative;
}
header li a::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background-color: #333;
  position: absolute;
  bottom: -4px;
  left: 10%;
  transform: scale(0, 1);
  transition: all 0.3s;
}
header li:hover a::after {
  transform: scale(1, 1);
}
header #g-nav {
  overflow-x: hidden;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}
header #g-nav .logo-img {
  height: 80px;
  margin-right: auto;
  margin-left: 60px;
}
header #g-nav .logo-img img {
  display: block;
  width: 100%;
  height: 80px;
}
header #g-nav ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
header #m-nav {
  overflow-y: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  background-color: rgb(85, 85, 85);
  transition: all 0.3s;
}
header #m-nav ul {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header #m-nav ul li a {
  color: white;
}
header #m-nav ul li a::after {
  background-color: white;
}
header #m-nav.m-nav-open {
  opacity: 1;
  visibility: visible;
}
header #m-nav.m-nav-open ul {
  display: block;
}

@keyframes headerIn {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu {
  position: fixed;
  z-index: 999;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: none;
  cursor: pointer;
}
.menu span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 1px;
  background-color: black;
  width: 45%;
}
.menu span:nth-of-type(1) {
  top: 15px;
}
.menu span:nth-of-type(2) {
  top: 23px;
}
.menu span:nth-of-type(3) {
  top: 31px;
}

.menu.active span {
  background-color: white;
}
.menu.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.menu.active span:nth-of-type(2) {
  opacity: 0;
}
.menu.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

#work {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
#work .work-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#work .work-wrap .work-img-wrap {
  border: 100%;
  height: 480px;
}
#work .work-wrap .work-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#work .work-wrap .work-head {
  width: 90%;
  max-width: 960px;
  min-width: 320px;
}
#work .work-wrap .work-head h1 {
  text-align: center;
  font-size: clamp(2rem, 1.855rem + 0.73vw, 2.4rem);
  font-weight: 700;
}
#work .work-wrap .work-head .work-position {
  text-align: center;
  font-size: clamp(1.4rem, 1.327rem + 0.36vw, 1.6rem);
  color: #7f7f7f;
  letter-spacing: 0.05em;
}
#work .work-wrap .work-head .work-explain {
  margin-top: 48px;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  line-height: 2;
}
#work .work-wrap .work-head .work-body {
  margin-top: 32px;
}
#work .work-wrap .work-head .work-body .work-body-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
#work .work-wrap .work-head .work-body .work-body-content:not(:first-child) {
  margin-top: 20px;
}
#work .work-wrap .work-head .work-body .work-body-content .work-body-head {
  width: 100%;
  max-width: 160px;
  font-size: 1.6rem;
  font-weight: 700;
}
#work .work-wrap .work-head .work-body .work-body-content .work-body-item {
  width: 100%;
  max-width: 800px;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
}
#work .work-wrap .work-head .work-body .work-link-wrap {
  margin-top: 80px;
  width: 320px;
  background-color: #333;
  border: solid 2px #333;
  transition: ease 0.2s;
}
#work .work-wrap .work-head .work-body .work-link-wrap a {
  position: relative;
  display: block;
  width: 100%;
  font-size: 1.4rem;
  line-height: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: ease 0.2s;
}
#work .work-wrap .work-head .work-body .work-link-wrap a::before {
  display: block;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  font-family: "Material Icons";
  content: "\e89e";
}
#work .work-wrap .work-head .work-body .work-link-wrap:hover {
  background-color: rgba(250, 250, 250, 0.9);
  border: solid 2px #333;
}
#work .work-wrap .work-head .work-body .work-link-wrap:hover a {
  color: #333;
}
#work .work-wrap .work-head .work-exp {
  margin-top: 80px;
}
#work .work-wrap .work-head .work-exp .work-exp-head {
  font-size: 2rem;
  padding: 20px 0px;
}

#footer {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  background-color: #333;
}
#footer .footer-text {
  padding: 32px 0px;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 1160px) {
  #skill .skill-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
  }
}
@media (max-width: 800px) {
  header #g-nav {
    display: none;
  }
  .menu {
    display: flex;
  }
}/*# sourceMappingURL=works-temp.css.map */